{% extends 'layout/platform_dashboard_layout.html' %}
{% load static %}

{% block title %}
    设置
{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
    <style>
        .issues-list .number {
            width: 100px;
            text-align: right;
        }
        .issues-list .number a {
            font-weight: 500;
            padding: 0 10px;
        }
        .issues-list .issue .tags {
            padding: 10px 0;
        }
        .issues-list .issue .tags span{
            margin-right: 20px;
            display: inline-block;
            font-size: 12px;
        }
        .issues-list .issue .tags .type{
            color:white;
            padding: 1px 5px;
            border-radius: 5px;
        }
        /* 筛选 */
        .filter-area .item {
            margin-bottom: 15px;
        }

        .filter-area .item .title {
            padding: 5px 0;
        }

        .filter-area .item .check-list a {
            text-decoration: none;
            display: inline-block;
            min-width: 65px;
        }

        .filter-area .item .check-list label {
            font-weight: 200;
            font-size: 13px;
            margin-left: 3px;
        }

        .filter-area .item .check-list a:hover {
            font-weight: 300;
        }

        .filter-area .item .check-list .cell {
            margin-right: 10px;
        }
    </style>

{% endblock %}

{% block body %}
    <div class="row" >
        <div class="  col-md-3">
            <div class="card project">
                <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                    <div><a>🔍筛选</a>
                        </div>
                </div>
                <div class="card-body filter-area">
                    {% for filter in filter_list %}
                        <div class="item">
                            <div class="title">{{ filter.title }}</div>
                            <div class="check-list">
                                {% for row in filter.filter %}
                                    {{ row }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                <div style="padding: 5px">
                    <a class="btn btn-primary" style="padding: 5px" href="?assign={{ request.tracer.user.id }}">指派给我的</a>
                    <a class="btn btn-primary" style="padding: 5px" href="?attention={{ request.tracer.user.id }}">关于我的</a>
                </div>

                </div>
            </div>
        </div>
        {#   右边         #}
        <div class=" col-md-9">
            <div class="card project">
                <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                    <div><a>❓问题</a>
                        </div>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'issue_add' request.tracer.project.id %}" style="vertical-align: middle;">新建问题</a>
                    <hr>
            {#          循环部分          #}
                    {% for i in issues %}
                        <table class="table">
                        <tbody class="issues-list">
                            <tr>
                                <td class="number">
                                    <span class="text-{{ i.priority }}" style="display: inline-block;border-radius:70%;font-size: 30px">●</span>
                                    <a target="_blank" href="{% url 'issue_detail' request.tracer.project.id i.id %}">#0{{ i.id }}</a>
                                </td>
                                <td class="issue">
                                    <div>
                                        <a target="_blank" href="{% url 'issue_detail' request.tracer.project.id i.id %}">{{ i.subject }}</a>
                                    </div>
                                    <div class="tags">
                                        <span class="type" style="display: inline-block; padding: 5px; background-color: white; color: black; border: 1px solid black;">
                                            {{ i.issues_type }}
                                        </span>
                                        <span>
                                            🔄{{ i.get_status_display }}
                                        </span>
                                        <span>
                                            👤{{ i.creator }}
                                        </span>
                                        {% if i.assign %}
                                        	<span>
                                            👉{{ i.assign }}
                                            </span>
                                        {% endif %}

                                        {% if i.end_date %}
                                        	<span>
                                            🕒{{ i.end_date }}截至
                                            </span>
                                        {% endif %}
                                        <span>
                                            🕒{{ i.latest_update_datetime }}更新
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}

                </div>

                <div class="card-footer">
                    {{ page_string|safe }}{#   分页  #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block JavaScript %}
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script>
    $(function (){
        redirectToSelectedOption();
        initdate();
        DateChange();
    })
    function redirectToSelectedOption() {
        $('.singleSelect').select2({}).on('select2:select', function (e) {
            // 选中某一项触发
            location.href = e.params.data.id;
        }).on('select2:unselect', function (e) {
            // 移除某一项触发
            location.href = e.params.data.id;
        });
    }
    {#初始化时间组件#}
    function initdate(){
        $('#id_start_date,#id_end_date').datepicker({
            format:'yyyy-mm-dd',
            {#startDate:'0',#}
            language:"zh-CN",
            autoClose:true
        })
    }
    function DateChange(){
        $('#id_start_date, #id_end_date').change(function() {
        var start_date_value = $('#id_start_date').val();
        var end_date_value = $('#id_end_date').val();
        url="?"
        if(start_date_value){
            url+="start_date="+start_date_value;
        }
        if(end_date_value){
            url+="&end_date="+end_date_value
        }
        location.href=url;
        });
    }
</script>

{% endblock %}