#pycharm
.idea/
.DS_Store
*.py[cod]
pycache
*spy.class
local_settings.py

#Django stuff:
*.sqlite3
media/

#database migrations
*/migrations/*.py
!*/migrations/init_·py
/uploads/editor/

#证书私钥
*.pem
/key_pem/
