{% extends 'layout/platform_dashboard_layout.html' %}
{% load static %}
{% block css  %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}"/>
{% endblock %}

{% block body %}

<div class="input-group" style="padding: 5px;width: 300px">
    <span class="input-group-text">📅</span>
    <input type="text" class="form-control" id="range_date">
</div>

<div class="row">
    <div  class="col-md-7">
        <div class="card project">
                <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                    <div>工作进度表</div>
                </div>
                <div class="card-body">
                    <div id="projectUser"></div>
                </div>
            <div  class="card-footer" ></div>
        </div>
    </div>
    <div  class="col-md-5">
        <div class="card project">
            <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                <div>问题出现类型统计</div>
            </div>
            <div class="card-body">
                <div id="type">
            </div>
            <div  class="card-footer" >

            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block JavaScript %}
<script type="text/javascript" src="{% static 'plugins/daterangepicker/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/highcharts/highcharts.js' %}"></script>

<script>
$(function() {
    initdate();
    issueType(moment().format('YYYY-MM-DD'),moment().add(1,'days').format('YYYY-MM-DD'));
    projectUser(moment().format('YYYY-MM-DD'),moment().add(1,'days').format('YYYY-MM-DD'));
});
function initdate(){
    var options = {
        maxDate : moment(),
        alwaysShowCalendars:true,
        showWeekNumbers:true,
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')]
        },
        locale: {
            format: 'YYYY-MM-DD',
            separator: ' 至 ',
            applyLabel: '确定',
            cancelLabel: '取消',
            fromLabel: '开始',
            toLabel: '结束',
            customRangeLabel: '自定义',
            weekLabel: 'W',
            daysOfWeek: ['一', '二', '三', '四', '五', '六', '日'],
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            firstDay: 1
        }
    }
    $('#range_date').daterangepicker(options, function(start, end, label) {
    console.log("选择了一个新的日期: "+start.format('YYYY-MM-DD')+' to '+end.add(1,'days').format('YYYY-MM-DD'));
    issueType(start.format('YYYY-MM-DD'),end.add(1,'days').format('YYYY-MM-DD'));
    projectUser(start.format('YYYY-MM-DD'),end.add(1,'days').format('YYYY-MM-DD'));
     });

}
{#画饼图-问题类型统计#}
function issueType(start, end) {
            var config = {
                title: {
                    text: '类型<br>占比',
                    align: 'center',
                    verticalAlign: 'middle',
                    y: 50
                },
                tooltip: {
                    headerFormat: '{series.name}<br>',
                    pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        dataLabels: {
                            enabled: true,
                            distance: -50,
                            style: {
                                fontWeight: 'bold',
                                color: 'white',
                                textShadow: '0px 1px 2px black'
                            }
                        },
                        startAngle: -90, // 圆环的开始角度
                        endAngle: 90,    // 圆环的结束角度
                        center: ['50%', '75%']
                    }
                },
                series: [{
                    type: 'pie',
                    name: '问题类型占比',
                    innerSize: '50%',
                    data: []
                }]
            }
            $.ajax({
                url: "{% url 'projectIssueType' request.tracer.project.id %}",
                type: "GET",
                data: {start: start, end: end},
                dataType: "JSON",
                success: function (res) {
                    {#console.log(res.data);#}
                    config.series[0].data = res.data;
                    Highcharts.chart('type', config);

                }

            })
        }
{# 画柱图-人员工作进度#}
function projectUser(start, end) {
            var config = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false // 关闭版权信息
                },
                xAxis: {
                    categories: ['flynn', '未指派']
                },

                yAxis: {
                    min: 0,
                    title: {
                        text: '问题数量'
                    },
                    stackLabels: {  // 堆叠数据标签
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -30,
                    verticalAlign: 'top',
                    y: 25,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            '总量: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                series: [{'name': 'Bug', 'data': [1, 2]}, {'name': '任务', 'data': [1, 3]}, {'name': '功能', 'data': [0, 2]}]
            };
            // Highcharts.chart('projectUser', config);
            $.ajax({
                url: "{% url 'projectUserWork' request.tracer.project.id %}",
                type: "GET",
                data: {start: start, end: end},
                dataType: "JSON",
                success: function (res) {
                    {#x轴的坐标名称#}
                    config.xAxis.categories = res.data.categories;
                    {#数据#}
                    config.series = res.data.series;
                    Highcharts.chart('projectUser', config);

                }
            })
        }
</script>
{% endblock %}