{% extends 'layout/index_layout.html' %}
{% load static %}
{% block title %}
    Tracer平台 - 文档
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center my-4">产品文档基本信息</h2>
            <div class="card">
                <div class="card-body">
                    <h4>注册</h4>
                    <ul>
                        <li>使用手机号注册</li>
                    </ul>
                    <h4>登录</h4>
                    <ul>
                        <li>使用短信验证码登录</li>
                        <li>使用密码登录</li>
                    </ul>
                    <h4>项目</h4>
                    <ul>
                        <li>可以管理创建的项目和加入的项目</li>
                        <li>单个项目可以自定义问题类型和里程碑</li>
                        <li>支持创建项目文档库</li>
                        <li>支持文件管理</li>
                        <li>问题管理
                            <ul>
                                <li>提供多条件筛选问题</li>
                                <li>问题更新记录展示</li>
                                <li>多级问题</li>
                            </ul>
                        </li>
                        <li>通过生成邀请码快速邀请其他用户进组</li>
                    </ul>
                    <h4>统计分析</h4>
                    <ul>
                        <li>对某一时间区域的问题进行统计分析</li>
                    </ul>
                    <h4>账户类型</h4>
                    <ul>
                        <li>默认免费用户</li>
                        <li>提供付费账户选项</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
