{% extends 'layout/index_layout.html' %}
{% load static %}
{% block title %}
    Tracer平台 - 产品功能
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2 class="text-center mt-5 mb-4">产品功能</h2>
            <p class="lead text-center">Tracer平台是一个功能强大的问题追踪管理系统，提供以下主要功能：</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">需求管理：方便跟踪、分析和管理项目需求，确保项目按时交付。</li>
                <li class="list-group-item">产品管理：支持对产品信息的收集、整理和管理，帮助团队保持产品的完整性和可追溯性。</li>
                <li class="list-group-item">项目管理：提供项目计划、任务分配和进度跟踪等功能，帮助团队高效协作。</li>
                <li class="list-group-item">测试管理：支持测试用例管理、缺陷追踪和测试报告生成，提升软件质量。</li>
                <li class="list-group-item">知识库管理：提供文档管理、知识共享和检索功能，方便团队成员获取所需信息。</li>
                <li class="list-group-item">研发管理：支持代码版本控制、任务管理和团队协作，助力项目顺利进行。</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
