{% extends 'layout/platform_layout.html' %}
{% block title %}项目列表{% endblock %}
{% block css  %}
    <style>
        .container_b {
            background-color: #f8f9fa;
            padding: 50px;
            text-align: center;
        }
        h1 {
            color: #dc3545;
        }
        p {
            margin-bottom: 20px;
        }
        a {
            color: #0d6efd;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
        h5, h1 {
            display: inline;
            padding: 3px;
    }
    </style>
{% endblock %}
{% block body %}

    <div class="container_b">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if not error %}
                    <a style="font-size: 60px">👋</a> <br>
                    <h5>你正在加入</h5><h1>{{ project.name }}</h1><h5>项目</h5>
                    <br><br><br><br><h5>创建者：{{ project.creator }}</h5>
                    <hr>
                    <p>介绍:{{ project.desc }}</p>
                    {% if not success %}
                        <form method="post" action="" style="padding: 30px"><button type="submit">确认加入项目</button><pre>邀请码时效剩余：{{ avliable_datetime }}</pre></form>
                    {% endif %}
                    👥：{{ project.join_count }}<br>
                    🕒：{{ project.create_datetime }}<br>

                {% else %}
                    <a style="font-size: 60px">❌</a> <br>
                    <h1>{{ error }}</h1>
                {% endif %}
            </div>
        </div>
    </div>

<!-- 在页面底部添加一个 Toast 容器 来弹出通知-->
<div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
{% endblock %}

{% block JavaScript %}

{% endblock %}







